#!/bin/sh

def_step=86400

now=`date +%s`
end=${now}

input_dir="/tmp"
output_dir=`dirname $0`"/../public/img"

cnfdir=`dirname $0`
hosts="`cat ${cnfdir}/../confs/hosts.cnf`"

GNUPLOT="`which gnuplot`"
