body {
    margin: 0;
    padding: 0;
}

.menu {
    float: left;
    width: 150px;
}

.renderform {
    margin-left: 160px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding-left: 10px;
}

.host_graphs {
    margin-left: 160px;
    border-left: 1px solid black;
    padding-top: 5px;
    padding-left: 10px;
    text-align: center;
}

.host_graphs h1 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}
